GOVEE_API_KEY=goveeapikey
GOVEE_LAN_BROADCAST_ALL=true
GOVEE_LAN_BROADCAST_GLOBAL=true
GOVEE_MQTT_HOST=mosquitto
GOVEE_MQTT_PORT=1883
GOVEE_MQTT_USER=user
GOVEE_MQTT_PASSWORD=password
GOVEE_TEMPERATURE_SCALE=F
RUST_LOG_STYLE=always
TZ=UTC
GOVEE_LAN_SCAN=192.168.1.20
HAMH_HOME_ASSISTANT_URL: "http://homeassistant:8123"
HAMH_HOME_ASSISTANT_ACCESS_TOKEN: "yourhatoken"
