arr/**
baserow/**
frigate/**
ha/**
jellyfin/**
nginx/**
rawon/**

!arr/docker-compose.yml
!baserow/docker-compose.yml
!frigate/docker-compose.yml
!ha/docker-compose.yml
!jellyfin/docker-compose.yml
!nginx/docker-compose.yml
!rawon/docker-compose.yml

!arr/docker-compose.yml
!baserow/.env.sample
!frigate/.env.sample
!ha/.env.sample
!jellyfin/.env.sample 
!nginx/.env.sample
!rawon/.env.sample
