NO_AUTOUPDATE=true
TUNNEL_TOKEN=yourcloudflaretoken
TZ=UTC
URL=example.com
EXTRA_DOMAINS=other.otherexample.com
EMAIL=example@example.com
VALIDATION=dns
SUBDOMAINS=subdomain
DNSPLUGIN=cloudflare
ONLY_SUBDOMAINS=true
